$calendar-event-activity-color: #f58f1a;
$calendar-event-opencall-color: #b1240e;
$calendar-event-event-color: #228963;
$calendar-event-holiday-color: #6b5ca5;
$calendar-event-expired-color: #6b6b6b;

$calendar-event-colors: (
  activity: $calendar-event-activity-color,
  opencall: $calendar-event-opencall-color,
  event: $calendar-event-event-color,
  holiday: $calendar-event-holiday-color,
);
