@import '~/variables.module.scss';
@import 'bootstrap';

.hidden {
  display: none;
}

.toolbar-header {
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #efe5b0;
  color: white;
  font-weight: 600;

  .nav-menu-opt {
    order: 1;
    .icon-burger {
      background-color: white;
    }
  }

  .nav-search-opt {
    width: 60%;
    order: 2;
  }

  .nav-login-opt {
    order: 3;
    .brand-text {
      margin-left: 10px;
      color: $main-title-color;
      text-decoration: none;
    }
  }
}

.img-logotipo {
  padding-left: 20px;
}

.menu-brand {
  color: $main-title-color;
  text-align: center;
  width: 100%;
  // font-family: Ms Madi, cursive;
  font-weight: bold;
}

.menu-title {
  // text-align: center;
  font-family: Roboto, Helvetica Neue, sans-serif;
  font-weight: bold;
  letter-spacing: -1px;
}

.general-sec {
  .sec-general-label {
    font-size: 14px;
    color: $gray-medium;
    font-weight: bold;
  }

  .option-menu-list {
    display: grid;
  }

  .menu-option {
    font-weight: bold;
    font-family: Roboto, Helvetica Neue, sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: $black;
    margin: 15px 0px 15px 0px;
  }

  .menu-option :hover {
    color: $gray-medium;
    cursor: pointer;
  }

  .menu-option-img {
    transform: rotate(180deg);
  }

  .menu-option-label {
    padding-left: 10px;
  }
}

.offcanvas-body {
  height: 90%;
}

// Media queries zone

@include media-breakpoint-down(sm) {
  .toolbar-header {
    .nav-menu-opt {
      order: 1;
    }

    .nav-search-opt {
      order: 3;
      width: 100%;
      margin-top: 5px;
    }

    .nav-login-opt {
      order: 2;
    }
  }
}
