@import '~/variables.module.scss';
@import 'bootstrap';

.hidden {
  display: none;
}

.toolbar-header {
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: $nav-bar-background-color;
  font-weight: 600;

  .nav-menu-opt {
    order: 1;
    .icon-burger {
      background-color: $nav-bar-burguer-background-color;
    }
  }

  .nav-search-opt {
    width: 60%;
    order: 2;
  }

  .nav-login-opt {
    order: 3;
    display: flex;
    flex-direction: row;
    align-items: center;
    .brand-text {
      margin-left: 10px;
      color: $main-title-color;
      text-decoration: none;
    }
  }
}

.img-logotipo {
  padding-left: 20px;
}

.icon-color-primary {
  color: $icons-color;
}

.icon-color-secondary {
  color: red; //$icons-color-secondary;
}
.menu-brand {
  color: $main-title-color;
  text-align: center;
  width: 100%;
  // font-family: Ms Madi, cursive;
  font-weight: bold;
}

.menu-title {
  // text-align: center;
  font-family: Roboto, Helvetica Neue, sans-serif;
  font-weight: bold;
  letter-spacing: -1px;
}

.general-sec {
  .sec-general-label {
    font-size: 14px;
    color: $main-font-color;
    font-weight: bold;
  }

  .option-menu-list {
    display: grid;
    align-items: center;
  }

  .menu-option {
    font-weight: bold;
    font-family: Roboto, Helvetica Neue, sans-serif;
    font-size: 16px;
    text-decoration: none;
    margin: 15px 0px 15px 0px;
    color: $main-font-color !important;
  }

  .menu-option :hover {
    color: $gray-medium;
    cursor: pointer;
  }

  .menu-option-img {
    transform: rotate(180deg);
  }

  .menu-option-label {
    padding-left: 10px;
  }

  .menu-option-membership {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 0.5rem;
    p {
      margin-bottom: 0rem;
      padding-left: 1rem;
    }
  }

  .menu-option-membership-label {
    padding-left: 10px;
    font-weight: normal;
  }
}

.current-profile {
  padding-left: 0.7rem;
  border-left: 4px solid $secondary-background-light;
  margin-left: 1rem;
  color: white !important;
}

.profile-header-sidenav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile-header-name {
  padding-left: 1.5rem;
  h4 {
    margin-bottom: 0rem;
  }
}

.offcanvas-header {
  background-color: $app-background-75;
}
.offcanvas-body {
  height: 90%;
  background-color: $app-background-50;
}

.entity-row-container {
  display: flex;
  width: 100%;
  align-items: center;

  .label {
    flex: 3; // Aproximadamente 75%
    font-size: 1.1rem; // Ajusta según necesites
  }

  .icon {
    flex: 1; // Aproximadamente 25%
    text-align: right;
  }
}

// Media queries zone

@include media-breakpoint-down(sm) {
  .toolbar-header {
    .nav-menu-opt {
      order: 1;
    }

    .nav-search-opt {
      order: 3;
      width: 100%;
      margin-top: 5px;
    }

    .nav-login-opt {
      order: 2;
    }
  }
}
