@import '~/variables.module.scss';

.profile-header {
  display: flex;
  text-align: left;

  .avatar {
    object-fit: cover;
    border-radius: 50%;
    width: 7.3rem;
    height: 7.3rem;
    margin: 0.5rem;
  }
  .header-title {
    margin: 1.2rem;

    .profile-name {
      display: flex;
    }

    .username {
      display: flex;
      font-size: small;
    }
  }
}

.error-field {
  color: red;
}

.error-profile-pic {
  border: 5px dashed red;
}
