@import '~/variables.module.scss';

.profile-header {
  display: flex;
  text-align: left;
  align-items: flex-start;

  .avatar {
    object-fit: cover;
    border-radius: 50%;
    width: 7.3rem;
    height: 7.3rem;
    margin: 0.5rem;
  }
  .header-title {
    margin: 1.2rem;

    .profile-name {
      display: flex;
    }

    .username {
      display: flex;
      font-size: small;
    }
  }
  .followers-box {
    font-size: 14px;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    gap: 1rem; /* Espaciado entre los elementos */
    width: 100%;
    min-width: 100%;
    text-align: center;
  }

  .followers-box div {
    flex: 1; /* Hace que cada div ocupe el mismo espacio */
    text-align: center; /* Asegura que el texto se centre */
  }

  .follow-number {
    font-size: x-large;
    font-weight: 620;
    color: $main-title-color;
  }
}

.error-field {
  color: red;
}

.error-profile-pic {
  border: 5px dashed red;
}
.actions {
  padding: 1rem;
  padding-left: 2rem;
}
