@import '~/variables.module.scss';

.thumbnail-new-entity-card {
  min-width: 10.5rem !important;
  max-width: 10.5rem !important;
  // margin: 1.2rem 0.5rem 1.2rem 0.5rem;
  border: none !important;
  height: 100% !important;
  background-color: $app-background;
}
.thumbnail-empty-entity-card {
  min-width: 9.5rem !important;
  max-width: 9.5rem !important;
  margin: 1.2rem 0.5rem 1.2rem 0.5rem;
  border: none !important;
  background-color: gray;
  border-radius: 10px;
  height: 10rem !important;
}

.thumbnail-header-card-container {
  display: flex;
  margin: 10px 10px 0px 10px;
  min-height: 100px;
}

.thumbnail-header-card-name {
  display: grid;
  margin-left: 10px;

  .thumbnail-card-title-label {
    font-weight: bolder;
    font-size: 20px;
  }
}

.thumbnail-container-img-card {
  text-align: center;
  transition: transform 0.2s;
  .thumbnail-img-card {
    max-width: 180px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    filter: drop-shadow(4px 4px 4px $gray-medium);
  }

  .thumbnail-card-name-section {
    color: #fff6eb;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin-top: 55%;
    margin-left: 5%;
    min-height: 3 rem;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .thumbnail-card-title-label {
      font-weight: bolder;
      font-size: 13px;
      height: 40px;
      min-height: 40px;
      margin-left: 0.5rem;
      overflow-y: hidden;

      .thumbnail-title-card-span {
        display: block;
      }

      .thumbnail-verified-comp {
        padding: 5px;
      }
    }
  }
}

.thumbnail-card-date-section {
  color: #fff6eb;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  user-select: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 3rem;
  align-content: center;
  .thumbnail-card-date-label {
    font-size: 12px;
    height: 12px;
    text-transform: uppercase;
  }
  .thumbnail-card-date-number {
    font-weight: bolder;
    font-size: 25px;
    // height: 15px;
    text-transform: uppercase;
  }
}

.thumbnail-container-img-card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.thumbnail-card-footer-place {
  margin-top: 1rem;
  margin-bottom: 1rem;
  p {
    margin: 0px;
  }
}

.thumbnail-container-img-card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.thumbnail-header-card-container {
  display: flex;
  margin: 10px 10px 0px 10px;
  min-height: 100px;
}

.thumbnail-header-card-name {
  display: grid;
  margin-left: 10px;

  .thumbnail-card-title-label {
    font-weight: bolder;
    font-size: 20px;
  }
}

.thumbnail-container-img-card {
  text-align: center;
  .thumbnail-img-card {
    max-width: 250px;
    height: 200px;
    object-fit: cover;
  }
}

.thumbnail-profile-avatar {
  width: 3.7rem;
  height: 3.7rem;
  object-fit: cover;
  border-radius: 50%;
}

.thumbnail-card-description {
  overflow-y: auto;
  max-height: 100px;
}

.thumbnail-card-buttons-container {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0px 0px 25px 0px;

  .thumbnail-card-link {
    text-decoration: none;
    color: $black;
  }
}

.thumbnail-username {
  font-size: x-small;
}


.activity-banner-entity-card {
  display: flex;
  align-items: center;
  margin: 1rem;

  &.probably-active {
    background: $probably-active-profile-bg;
    color: white;

    .title {
      font-weight: bold;
    }
  }

  &.non-active {
    background: $non-active-profile-bg;
    color: white;

    .title {
      opacity: 0.8;
    }
  }
}

