@import "~/variables.module.scss";

.tourPlan-title {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
h2 {
  color: #7a260a;
  font-size: xx-large;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.info-container {
  width: 100%;
}

.attribute {
  display: flex;
}
.attribute-icon {
  color: $main-title-color;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.section-title {
  border-bottom: 1px solid $main-title-color;
  margin-top: 2rem;
  // font-family: Ms Madi, cursive;
  font-weight: bold;
  color: $main-title-color;
  text-align: left;
  width: 100%;
}
