@import "~/variables.module.scss";

.tourPlan-title {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
h2 {
  color: #7a260a;
  font-size: xx-large;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.info-container {
  width: 100%;
}

.attribute {
  display: flex;
}
.attribute-icon {
  color: $main-title-color;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.section-title {
  border-bottom: 1px solid $main-title-color;
  margin-top: 2rem;
  // font-family: Ms Madi, cursive;
  font-weight: bold;
  color: $main-title-color;
  text-align: left;
  width: 100%;
}

.confirmation-state {
  margin: 0px;
  padding-left: 1.5rem;
}

.event-confirm-status {
  height: 1rem;
  width: 1rem;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-left: 0.3rem;

  &.draft {
    border-right: solid 1rem gray;
  }

  &.created {
    border-right: solid 1rem cornflowerblue;
  }

  &.under-review {
    border-right: solid 1rem salmon;
  }

  &.in-process {
    border-right: solid 1rem chocolate;
  }
  &.confirmed {
    border-right: solid 1rem green;
  }

  &.rejected {
    border-right: solid 1rem darkred;
  }
}
