@import '~/variables.module.scss';

.profile-thumbnail-card {
  border-radius: 10px;
  border: 1px solid #f2f2f2;
  margin-bottom: 1rem;
  box-shadow: 3px 3px #c5c5c5;
  background: #fff6eb;
  padding: 0.3rem;

  &.draft {
    border-right: solid 1rem gray;
  }

  &.created {
    border-right: solid 1rem cornflowerblue;
  }

  &.under-review {
    border-right: solid 1rem salmon;
  }

  &.in-process {
    border-right: solid 1rem chocolate;
  }
  &.confirmed {
    border-right: solid 1rem green;
  }

  &.rejected {
    border-right: solid 1rem darkred;
  }
}
.profile-header {
  display: flex;
  text-align: left;

  .avatar {
    object-fit: cover;
    border-radius: 50%;
    width: 7.2rem;
    height: 7.2rem;
    margin: 0.5rem;
  }
  .event-avatar {
    object-fit: cover;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    margin: 0.5rem;
  }
  .avatar-place {
    object-fit: cover;
    border-radius: 10%;
    width: 8rem;
    height: 8rem;
    margin: 0.5rem;
  }
  .header-title {
    margin: 1rem;
    h2 {
      font-family: Roboto, 'Helvetica Neue', sans-serif;
      color: #333;
      margin: 0px;
    }

    .artist-name {
      display: flex;
      flex-flow: column;
    }
  }
}
.profile-thumbnail-card-footer {
  margin: 1rem;
}

.container-img-card {
  text-align: center;
  transition: transform 0.2s;
  width: 7rem;

  background: none;

  .img-card {
    object-fit: scale-down;
    border-radius: 50%;
    background: transparent;
    filter: drop-shadow(4px 4px 4px $gray-medium);
  }

  .card-name-section {
    color: #fff6eb;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10%;
    margin-top: 75%;
    min-height: 3 rem;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .card-title-label {
      font-weight: bolder;
      font-size: 13px;
      height: 64px;
      overflow-y: hidden;

      .title-card-span {
        display: block;
      }

      .verified-comp {
        padding: 5px;
      }
    }
  }
}

.card-date-section {
  color: #fff6eb;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10%;
  user-select: none;
  top: 0;
  left: 0;
  width: 5rem;
  align-content: center;
  margin-top: 1.2rem;
  margin-left: 0.7rem;
  margin-bottom: 1.5rem;
  position: relative;

  & p {
    margin-bottom: 0px;
  }

  .card-date-month {
    font-size: 1.2rem;
    text-transform: uppercase;
  }
  .card-date-hour {
    font-size: 1.2rem;
  }
  .card-date-number {
    font-weight: bolder;
    font-size: 2.2rem;
    margin: -0.5rem;
  }
}

.month-title {
  text-transform: capitalize;
  padding-top: 2rem;
}

.footer {
  text-align: center;
}
