@import "~/variables.module.scss";

.hidden {
  display: none;
}
.ah-nav-search {
  position: relative;
  &__input:active {
    background-color: rgb(255, 236, 213);
  }
}

.ah-combobox-search {
  position: absolute;
  top: 48px;
  max-height: 370px;
  min-height: 1px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 2;
}

.search-item__link {
  display: flex;
  gap: 15px;
  align-items: center;
  text-decoration: none;
  color: currentColor;
}

a.search-item__link:hover {
  color: currentColor;
}

.search-item-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &:hover {
    color: #7a260a;
  }
}

.search-item__img {
  border-radius: 50%;
  background-size: 50% 50%;
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
}
.search-item__title,
.search-item__subtitle {
  margin-bottom: 0;
  font-size: 14px;
}

.search-item__subtitle {
  opacity: 0.5;
}

.search-item__link .verified-container {
  width: auto;
  &:hover {
    color: currentColor;
  }
}

.entity-1-item {
  border-left: 0.4rem solid $entity-1 !important;
}
.entity-2-item {
  border-left: 0.4rem solid $entity-2 !important;
}
.entity-3-item {
  border-left: 0.4rem solid $entity-3 !important;
}
.entity-4-item {
  border-left: 0.4rem solid $entity-4 !important;
}

.list-group-item.search-item-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 44px;
}
.search-item-head {
  &__title,
  &__subtitle {
    margin-bottom: 0;
    font-size: 14px;
    gap: 5px;
    display: flex;
    flex-direction: row;
    overflow-wrap: anywhere;
  }

  &__subtitle {
    .badge {
      font-weight: 500;
      font-size: 13px;
      min-height: 25px;
      width: 60px;
      cursor: pointer;
    }
    .bg-ah-secundary {
      background-color: $entity-1;
    }
    .bg-ah-border-secundary {
      border: 1px solid rgba($entity-1, 0.5);
      color: currentColor;
    }
    .bg-ah-border-third {
      border: 1px solid rgba($entity-2, 0.5);
      color: currentColor;
    }
    .bg-ah-third {
      background-color: $entity-2;
    }
    .bg-ah-fourth {
      background-color: $entity-3;
    }
    .bg-ah-border-fourth {
      border: 1px solid rgba($entity-3, 0.5);
      color: currentColor;
    }
    .bg-ah-border-disabled {
      border: 1px solid rgba(#919090, 0.5);
      color: darkgray;
    }
  }
}
.disable-select {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.label-search-waiting {
  font-weight: lighter;
}

// Animations

/* lineup class and keyframes */
.line-up-an {
  animation: 1s anim-lineUp ease-out;
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

/* color hor */
.color-hor-an {
  animation: 1s anim-colorHor ease-out;
}
@keyframes anim-colorHor {
  0% {
    opacity: 0;
    background-position: 0%;
  }
  50% {
    opacity: 1;
    background-position: 50%;
  }
  100% {
    opacity: 1;
    background-position: 100%;
  }
}

/* lineWidth class and keyframes */
.line-width-an {
  animation: 1s anim-lineWidth ease-out;
}
@keyframes anim-lineWidth {
  0% {
    opacity: 0;
    transform: translateX(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

/* lineWidthHide class and keyframes */
.line-width-hide-an {
  animation: 1s anim-lineWidthHide forwards;
}
@keyframes anim-lineWidthHide {
  0% {
    opacity: 1;
    transform: translateX(0%);
  }
  20% {
    opacity: 1;
    transform: translateX(0%);
  }
  50% {
    opacity: 0;
    transform: translateX(80%);
  }
  100% {
    opacity: 0;
    width: 0;
    height: 0;
    visibility: hidden;
  }
}