// 1. Contenedor principal (scroll horizontal)
.lm-box-container {
  display: flex;
  overflow-x: auto;
  gap: 16px; // En MUI, "2" suele equivaler a 16px (2 * 8px)
  padding: 16px;
  align-items: center;
  justify-content: flex-start;
  width: 100%;

  &::-webkit-scrollbar {
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
}

// 2. Tarjeta o elemento estándar
.lm-card-item {
  min-width: 150px;
  height: 200px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px; // "2" en borderRadius suele equivaler a 8px
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05); // Aumenta el tamaño un 5%
    // Equivalente aproximado a la elevación 6 (boxShadow: 6) de Material-UI
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14),
      0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  }
}

.lm-card-member {
  min-width: 250px;
  justify-content: flex-start;
  padding-left: 20px;
  padding-right: 20px;
}

.lm-button-add-member {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .MuiButton-startIcon {
    margin: 0;
  }
}

.lm-button-remove-member {
  position: absolute;
  top: -15px;
  right: -8px;
}
