@import "~/variables.module.scss";

.footer-columns {
  background-color: #faf2c3;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  justify-content: center;

  ul {
    list-style-type: none;
  }
}

.footer-column {
  margin: 1rem;
  .column-title {
    margin-top: 2rem;
    // font-family: Ms Madi, cursive;
    font-weight: bold;
    color: $main-title-color;
  }
}
