@import '~/variables.module.scss';

.place-container {
  width: 96%;

  .MuiFab-root {
    position: fixed;
    bottom: 24px;
    right: 24px;
    z-index: 90;
    transition: opacity 0.3s ease, visibility 0.3s ease;

    @media (max-width: 960px) {
      display: flex;
    }

    &.fab-hidden {
      opacity: 0;
      visibility: hidden;
    }
  }
}

.gallery-image-detail {
  width: 100%;
}
