@import '~/variables.module.scss';

.album-short-view {
  display: flex;
  flex-direction: row;
  padding: 1rem;
}

.album-title {
  font-weight: 750;
  font-size: larger;
}

.album-description {
  padding-left: 2rem;
}
