@import '~/variables.module.scss';

.profile-thumbnail-card {
  border-radius: 10px;
  border: 1px solid $app-background-border;
  margin-bottom: 0.5rem;
  // box-shadow: 3px 3px #c5c5c5;
  background: $app-background-50;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.profile-thumbnail-header {
  display: flex;
  padding: 0.5rem;
  align-items: center;
  justify-content: center;
  width: fit-content;

  .avatar {
    object-fit: cover;
    border-radius: 50%;
    width: 7.2rem;
    height: 7.2rem;
    margin: 0.5rem;
  }
  .avatar-place {
    object-fit: cover;
    border-radius: 10%;
    width: 8rem;
    height: 8rem;
    margin: 0.5rem;
  }
  .header-title {
    // margin: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    > h2 {
      margin-bottom: 0px;
    }
  }
}
.profile-thumbnail-card-footer {
  margin: 1rem;
}
