@import "~/variables.module.scss";

h2 {
  font-family: "Euphoria Script", cursive;
  color: #7a260a;
  font-size: xx-large;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.info-container {
  width: 100%;
}

.attribute {
  display: flex;
}
.attribute-icon {
  color: $main-title-color;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
