$main-background-color: #fff6eb;
$main-title-color: #7a260a;
$main-title-color-light: #803922;
$gray-medium: rgb(138, 137, 137);
$gray-light: rgb(180, 179, 179);
$gray-dark: rgb(94, 90, 90);
$black: #000000de;
$full-verified-color: rgb(74, 136, 77);
$only-verified-color: rgb(200, 195, 50);
$secondary-background-light: #faf2c3;

$entity-1: #f58f1a;
$entity-2: #d83e3e;
$entity-3: #8a5433;
$entity-4: #b1240e;

// Dispay sizes
$grid-breakpoints: (
  xs: 0,
  sm: 480px,
  md: 720px,
  lg: 1200px,
  xl: 1440px,
);

// Functions
@function rem-calc($size) {
  $remSize: $size / 16;
  @return #{$remSize}rem;
}
