@import '~/variables.module.scss';

.dialog-styles {
  z-index: 100;
}
.dialog-title {
  text-align: center;
  padding-left: 3rem !important;
  padding-right: 3rem !important;
  position: relative;
  background-color: $app-background-75;

  .close-icon {
    position: absolute;
    top: 0rem;
    right: 0.3rem;
  }
}

.dialog-content {
  text-align: justify;
  margin: 1rem;
}

.dialog-icon {
  text-align: center;
  padding: 1rem;
}

.dialog-actions {
  margin: 1rem;
  padding-left: 20%;
}
